{% load planner_tags %}

{% block content %}
<main class="max-w-7xl mx-auto mb-12 overflow-x-auto">
    <h2 class="text-xl mb-4">Wochenplan KW {{ planner.today|date:"W" }}</h2>
      <table class="w-full border-collapse border border-gray-200">
        <thead class="bg-gray-50/90 border-b border-gray-200">
          <tr>
            <th class="w-48 p-4 text-left border-r border-gray-200">
              <button
                  type="button"
                  @click="iframeSrc = '{% url 'admin:planner_assignment_add' %}?_popup=1'; openModal = true"
                  class="px-4 py-2 rounded bg-primary-600 text-white"
              >
                    + Zuweisen
              </button>
            </th>
            {% for day in planner.work_days %}
            <th class="w-18 py-3 text-center border-r border-base-200 last:border-r-0">
              <span class="block text-sm font-bold text-base-700">{{ day|date:"D" }}</span>
              <span class="block text-xs text-base-400">{{ day|date:"d.m" }}</span>
            </th>
            {% endfor %}
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-100">
          {% regroup planner.assignments by employee as employee_assignments %}
          {% for group in employee_assignments %}
          <tr class="hover:bg-base-50" style="border-bottom-width: 1px;">
            <td {% if group.list|length > 1 %}rowspan="{{ group.list|length }}" {% endif %}class="p-4 border-r border-gray-200 font-bold text-sm text-gray-800">
              {{ group.grouper }}
            </td>

            {% for assignment in group.list %}
                {% with colspan=assignment|grid_span:planner.work_days %}
                {% for day in planner.work_days %}

                    {% if assignment and assignment.start_date.date == day or forloop.first and assignment.start_date.date < day %}
                    <!-- This cell spans multiple days -->
                    <td {% if colspan > 1 %}colspan="{{ colspan }}" {% endif %}class="border-r border-gray-100 p-1">
                       <div
                           @click="iframeSrc = '{% url 'admin:planner_assignment_change' assignment.id %}?_popup=1'; openModal = true"
                           class="p-2 rounded shadow-sm bg-blue-300 text-primary-900 cursor-pointer"
                       >
                          <span class="inline-block w-6 px-1 mr-2 rounded font-light text-center text-s text-base-400 bg-white">{{ assignment.id }}</span>
                          <span class="font-bold text-s text-base-700">{{ assignment.project }}</span>
                       </div>
                    </td>
                    {% elif forloop.counter0|add:colspan <= forloop.length %}
                    <!-- Empty cell for days with no assignment -->
                    <td class="border-r border-gray-100 min-h-[3rem]"></td>
                    {% endif %}

                {% endfor %}
                {% endwith %}
            </tr>
            {% endfor %}

          {% endfor %}
        </tbody>
      </table>
    </main>
{% endblock %}
